
<h1 class="text-success mt-4 ">
    <i class="fa-regular fa-circle-check text-success"></i>
    &nbsp;BẠN ĐÃ ĐĂNG KÝ GIẤY CHỨNG NHẬN THÀNH CÔNG
</h1>
<p>
    Trong vòng 02 ngày kể từ ngày đăng kí (không kể thứ 7 và CN) sinh viên đến trường nhận bản cứng tại Phòng A1.10, bàn số 1(sau 15h hằng ngày). Phòng chỉ giải quyết những mẫu đăng ký hợp lệ, cung cấp chính xác và đầy đủ thông tin.
    Mọi thắc mắc (nếu có), SV sử dụng tài khoản email SV Trường cấp gửi email về: hopthusinhvien@hcmue.edu.vn
</p>
