@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>© 2022 Trường Đại học Sư phạm Thành phố Hồ Chí Minh.</p>
<p>280 An Dương Vương, Phường 4, Quận 5, Thành Phố Hồ Chí Minh</p>
<strong>Liên hệ và hỗ trợ: phongctct@hcmue.edu.vn</strong>

