@{
    Layout = "_LayoutAdmin";
}
<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6>Bạn Không Có Quyền Truy Cập Vào Tài Nguyên Này</h6>
    <img src="~/images/denied.png" alt="Denied" style="height:300px; width:300px;"/>
</div>
