@{
    Layout = "_LayoutAdmin";
}
<h3 class="text-danger">
    Tài khoản của bạn đã bị khóa trong 15 phút
    Vui lòng liên hệ Admistrator để được hỗ trợ   
</h3>
<a asp-controller="Admin" asp-action="Login" class="btn btn-outline-danger">Cancel</a>